<div class="card" >
  <h2>Password Generator</h2>
  <hr>

  <form (ngSubmit)="generateClicked()" #myForm="ngForm">
    <div class="mb-3 row">
      <label for="lenght" class="col-form-label col-sm-3">Enter Length</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" placeholder="Length" ngModel name="length" required min="6" />
        <span *ngIf="lengthValid()" class="form-text text-danger">Debe ser mayor a 5</span>
      </div>
    </div>

    <div class="mb-3 row" id="opciones">
      <label class="col-form-label col-sm-3">Opciones</label>
      <div class="col-sm-9">
        <div class="form-check" *ngFor="let opcion of opciones">
          <input
            type="checkbox"
            class="form-check-input"
            value=""
            id="{opcion.name}"
            ngModel
            name="seleccion"
            (change)="opcionChecked(opcion, $event)"
          />
          <label>Use {{ opcion.name }}</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-9">
        <button [disabled]="myForm.invalid || disabledButton || validLength" class="btn btn-primary" type="submit">
          Generate!
        </button>
      </div>
    </div>
  </form>
  <hr />

  <div class="mb-3 row">
    <label class="col-form-label col-sm-3">Your Password</label>
    <div class="col-sm-9">
      <input [value]="text" class="form-control" placeholder="Your new password" readonly />
    </div>
  </div>
</div>
